.navbar {
    margin-bottom: 0px;
}

img {
    max-width: 100%;
}

a {
    color: #515151;
}

a:hover {
    color: #000000;
}

a.btn-primary {
    color: #fff;
    background-color: #3d8b40;
    border-color: #3d8b40;
}

a.btn-primary:active {
    color: #fff;
    background-color: #3d8b40;
    border-color: #3d8b40;
}

a.btn-primary:hover {
    color: #fff;
    background-color: #3d8b40;
    border-color: #3d8b40;
}

a.btn-primary:focus {
    color: #fff;
    background-color: #3d8b40;
    border-color: #3d8b40;
}

/* About component */
.about {
    text-align: center;
    padding: 5vh 0;
}

/* Resume component */
.resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vh 0;
}

.filters {
    margin-bottom: 20px;
    max-width:60vw;
}

/* Skills component */
.skills.header {
    text-align: center;
}

.skills-width {
    text-align: center;
    width: 55vw;
}

/* Skills jumbotron */
.jumbotron {
    padding-top: 10px;
    padding-bottom: 0px;
}

/* Experience component */
.experience.header {
    text-align: center;
}

.experience {
    max-width: 55vw;
}

/* Education component */
.education.header {
    text-align: center;
}

.education {
    max-width: 55vw;
}

/* Contact component */
.contact {
    text-align: center;
    padding: 5vh 0;
}

.email {
    height: 50px;
    width:60px;
}


.blurred {
    -webkit-filter: blur(2px); /* Chrome, Safari, Opera */
    filter: blur(2px);
}

.banner {
    background-size: cover;
    transition: 0.5s ease all;
}

.navbar {
    opacity: 0.94;
    transition: all 0.5s ease;
}

.navScroll {
    opacity: 1;
    transition: all 0.5s ease;
}