body {
    color: rgb(93, 93, 93);
    font-family: CircularStd, "Helvetica Neue", Helvetica, sans-serif;
}

/* Banner image */
img {
    max-width: 100%;
}


a {
    color: #515151;
}

a:hover {
    color: #000000;
}

/* Button styling */
.btn-primary {
    color: #fff;
    background-color: #799442;
    border-color: #eeeeee;
}

.btn-primary:hover {
    color: #fff;
    background-color: #8ca424;
    border-color: #eeeeee;
}

.btn-primary.focus {
    color: #fff;
    background-color: #8ca424;
    border-color: #eeeeee;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: none;
    outline-color: #eeeeee;
    outline-style: none;
    outline-width: thin;
    background-color: #799442;
}

.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #8ca424;
    border-color: #eeeeee;
}

/* About component */
.about {
    text-align: center;
    padding: 8vh 0vw 0vh 0vw;
}

/* Resume component */
.resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vh 0;
}

/* Resume filter size and positioning */
.filters {
    margin-bottom: 20px;
    max-width:60vw;
}

/* Skills component */
.skills.header {
    text-align: center;
}

/* Skills component size and positioning */
.skills-width {
    text-align: center;
    width: 55vw;
}

/* Skills jumbotron */
.jumbotron {
    padding-top: 10px;
    padding-bottom: 0px;
}

/* Experience component */
.experience.header {
    text-align: center;
}

/* Experience panel size */
.experience {
    max-width: 55vw;
}

/* Education component */
.education.header {
    text-align: center;
}

/* Education panel size */
.education {
    max-width: 55vw;
}

/* Contact component */
.contact {
    text-align: center;
    padding: 5vh 0;
}

/* Email icon size */
.email {
    height: 50px;
    width:60px;
}

/* Blur effect for banner */
.blurred {
    -webkit-filter: blur(2px); /* Chrome, Safari, Opera */
    filter: blur(2px);
}

.banner {
    background-size: cover;
    transition: 0.5s ease all;
}

/* Navbar styling pre-scroll */
.navbar {
    opacity: 0.94;
    transition: all 0.5s ease;
    margin-bottom: 0px;
}

/* Navbar styling post-scroll */
.navScroll {
    opacity: 1;
    transition: all 0.5s ease;
}

.welcome {
    height: 30vh;
}

.sky {
    display: flex;
    flex-direction: row;
    background-color: #8be3e1;
    height: 75vh;
    max-height: 550px;
    opacity: 0;
    transition: all 1s ease;
}

.skySunny {
    opacity: 1;
    transition: all 1s ease;
    border-bottom-color: #5d5d5d;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.ground {
    background-color: #95bb76;
    height: 20vh;
    min-height: 100px;
}

.me {
    height: 63%;
    width: 55%;
    max-height: 300px;
    max-width: 300px;
    border: 10px solid #f8f8f8;
    border-radius: 20px;
    margin-top: 10%;
}

.description {
    margin-top: 15%;
    margin-left: 10%;
    max-width: 550px;
    text-align: left;
}

.sun {
    margin-top: 2%;
    margin-left: 10%;
}

.notFound {
    text-align: center;
}
