.navbar {
    margin-bottom: 0px;
}

img {
    max-width: 100vw;
}

a {
    color: #515151;
}

a:hover {
    color: #000000;
}

a.btn-primary {
    color: #fff;
    background-color: #3d8b40;
    border-color: #3d8b40;
}

a.btn-primary:active {
    color: #fff;
    background-color: #3d8b40;
    border-color: #3d8b40;
}

a.btn-primary:hover {
    color: #fff;
    background-color: #3d8b40;
    border-color: #3d8b40;
}

a.btn-primary:focus {
    color: #fff;
    background-color: #3d8b40;
    border-color: #3d8b40;
}

/* About component */
.about {
    text-align: center;
    padding: 5vh 0;
}

/* Resume component */
.resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vh 0;
}

/* Experience component */
.experience {
    max-width: 55vw;
}

.experience.header {
    text-align: center;
}

.skills.header {
    text-align: center;
}

.education.header {
    text-align: center;
}

/* Education component */
.education {
    max-width: 55vw;
}

/* Contact component */
.contact {
    text-align: center;
    padding: 5vh 0;
}

.filters {
    margin-bottom: 20px;
}

.jumbotron {
    padding-top: 10px;
    padding-bottom: 0px;
}